.section-reference {
  height: 95vh;
  margin-top: 45px;

  .section-reference-group {
    background: #ffffff;
    height: 96%;
    transition: transform 0.5s ease;

    &__container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;

      &-header {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding: 15px 0;
        gap: 13px;

        .add-data-btn {
          font-size: 16px;
          font-weight: 400;
          display: flex;
          flex-direction: row;
          align-items: center;
          text-align: center;
          justify-content: center;
          gap: 5px;
          border: none;
          padding: 0.375rem 0.75rem;
          color: #212529;
          border-radius: 0.25rem;
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
          cursor: pointer;

          .icon-btn {
            font-size: 24px;
          }

          .search-form-group {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;

            .icon-search {
              font-size: 20px;
            }
          }
        }

        .title-search-group {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .title-select {
            font-size: 24px;
            color: #495057;
          }

          .search-form-group {
            width: 40%;
            border-radius: 0.25rem;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            border: 1px solid #dee2e6;
            padding: 0.3rem 0.4rem;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            gap: 5px;

            .icon-search {
              font-size: 24px;
              color: #c5c8ca;
            }

            .input-search {
              width: 100%;
              border: none;
              outline: none;
              font-size: 15px;
              color: #495057;
            }

            &:focus-within {
              border: 1px solid rgb(33, 150, 243);
            }
          }
        }

        .btn-run-group {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          position: relative;

          .create-new-config {
            height: 40px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
            border: none;
            background: rgb(33, 150, 243);
            font-weight: 400;
            color: #ffffff;
            font-size: 15px;
            transition: all 0.4s;
            border-radius: 4px;
            padding: 4px 15px;
            cursor: pointer;
          }

          .btn-run {
            width: 140px;
            height: 38px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
            color: #afb2b4;
            border-color: #f8f9fa;
            background-image: none;
            border: none;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.25;
            border-radius: 0.25rem;
          }
        }
      }

      &-content {
        width: 100%;
        height: 100%;
        justify-content: center;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 6px;
      }
    }
  }

  .shifted {
    transform: translateX(-20px);
  }

  .infor-reference-group {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 0 15px;
    height: 96%;
    animation: fadeIn 0.5s ease forwards;

    &__header-group {
      width: 100%;
      padding: 13px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .header-title {
        font-size: 24px;
        color: #495057;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        .button-arrow {
          cursor: pointer;
        }
      }
    }

    &__item {
      width: 100%;
      .item-reference-container {
        width: 95.5%;
        padding: 15px;
        border: 1px solid rgba(204, 204, 204, 0.6);
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        margin-bottom: 0.5rem;

        .icon-reference-group {
          -webkit-box-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          display: flex;
          align-items: center;
          border-radius: 50%;
          width: 75px;
          height: 75px;
          background: radial-gradient(closest-side, white 79%, transparent 80%, transparent 100%),
            conic-gradient(rgb(76, 175, 80) calc(0%), lightgray 0deg);
          text-align: center;

          &__background {
            display: flex;
            margin: auto;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            border-radius: 50%;
            background: rgb(51, 153, 107);
            color: rgb(248, 249, 250);
            width: 60px;
            height: 60px;
            font-size: 1.2rem;
          }
        }

        .infor-reference-group {
          width: 85%;
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          gap: 0.25rem;

          &__btn {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            gap: 15px;

            .icon-delete {
              font-size: 28px;
              cursor: pointer;
              color: rgb(33, 150, 243);
            }

            &-edit {
              width: 100%;
              display: flex;
              justify-content: end;
              align-items: center;
              gap: 8px;
              cursor: pointer;

              .make-private {
                background: #e67030;
              }

              .pending {
                background: #ffca28;
              }

              .request-public {
                background: rgb(33, 150, 243);
              }

              .btn-edit-status {
                height: 35px;
                padding: 0 10px;
                border-radius: 5px;
                border: none;
                cursor: pointer;
                color: #ffffff;
                font-size: 14px;
                font-weight: 500;
              }
            }
          }

          &__name {
            margin-bottom: 0px;
            font-weight: 500;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 1.5rem;
            color: #495057;
          }

          &__icon {
            font-size: 0.7rem;
            padding: 0.17rem 0.33rem;
            color: #fff;
            background-color: #4caf50;
            display: inline-block;
            font-size: 75%;
            font-weight: 500;
            line-height: 1;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
          }

          .infor-text {
            max-width: 100%;
            font-size: 0.9rem;
            padding: 0px;
            margin: 0px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #495057;
          }
        }
      }
    }

    &__content {
      margin-top: 5px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      border: 1px solid rgb(204, 204, 204);
      border-radius: 5px;
      overflow-y: auto;
      overflow-x: hidden;

      .infor-content-container {
        width: 95.5%;
        height: 100%;
        padding: 0 15px 15px 15px;

        .reference-information-content {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          position: relative;

          .header-group {
            width: 34%;
            position: fixed;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background: #ffffff;
            .filter-container {
              height: 60px;
              display: flex;
              align-items: center;
            }
          }

          .content-file {
            margin-top: 50px;
            pre {
              white-space: pre-wrap;
              font-family: monospace;
              word-wrap: break-word;
              height: 90%;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 940px) {
  .section-page-reference {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    .section-reference {
      max-width: 720px;
    }

    .add-reference-group {
      max-width: 720px;
    }

    .infor-reference-group {
      max-width: 720px;
    }
  }
}

@media only screen and (min-width: 940px) {
  .section-page-reference {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .section-reference {
      width: 100%;
      max-width: 1440px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: start;
      gap: 10px;

      .section-reference-group {
        width: 50%;
      }

      .add-reference-group {
        width: 50%;
      }

      .infor-reference-group {
        width: 50%;
      }
    }
  }
}
