.item-reference-container {
  width: 95%;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.133) 0px 0px 12px 0px;
  border: 1px solid rgba(204, 204, 204, 0.6);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  margin-bottom: 0.5rem;

  .icon-reference-group {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    display: flex;
    align-items: center;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    background: radial-gradient(closest-side, white 79%, transparent 80%, transparent 100%),
      conic-gradient(rgb(76, 175, 80) calc(0%), lightgray 0deg);
    text-align: center;

    &__background {
      display: flex;
      margin: auto;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      border-radius: 50%;
      background: rgb(51, 153, 107);
      color: rgb(248, 249, 250);
      width: 60px;
      height: 60px;
      font-size: 1.2rem;
    }
  }

  .infor-reference-group {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.25rem;

    &__name {
      margin-bottom: 0px;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 1.5rem;
      color: #495057;
    }

    &__icon {
      font-size: 0.7rem;
      padding: 0.17rem 0.33rem;
      color: #fff;
      background-color: #4caf50;
      display: inline-block;
      font-size: 75%;
      font-weight: 500;
      line-height: 1;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
    }

    .infor-text {
      max-width: 100%;
      font-size: 0.9rem;
      padding: 0px;
      margin: 0px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #495057;
    }
  }
}
