.header-title {
  width: 100%;
  display: flex;
  justify-content: center;
  span {
    color: #495057;
    font-size: 18px;
  }
}

.export-container {
  width: 100%;
  display: flex;
  height: 85vh;
  border: 1px solid rgba(204, 204, 204, 0.6);
  flex-direction: row;
  justify-content: start;
  align-items: start;
  overflow-y: auto;
  border-radius: 5px;
  position: relative;

  .content-container {
    margin-left: 20vw;
    flex: 1;
    width: 48vw;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    position: relative;

    &__header {
      position: fixed;
      z-index: 10;
      width: 47.5vw;
      background: #ffffff;
      height: 40px;
      display: flex;
      display: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;
      box-sizing: border-box;

      span {
        color: rgb(33, 150, 243);
        font-size: 16px;
      }

      .icon-download {
        color: rgb(33, 150, 243);
        font-size: 22px;
        cursor: pointer;
      }
    }

    &__content {
      margin-top: 40px;
      padding: 0 15px;
      pre {
        white-space: pre-wrap;
        font-family: monospace;
        word-wrap: break-word;
        height: 90%;
      }
    }
  }
}

@media only screen and (max-width: 940px) {
  .section-page-export {
    width: 100%;
    height: 100%;
    display: flex;
  }
}

@media only screen and (min-width: 940px) {
  .section-page-export {
    padding-top: 45px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .section-export {
      padding-top: 3vh;
      width: 100%;
      height: 100%;
      max-width: 68vw;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      gap: 15px;
    }
  }
}
