.icon-group__text {
  font-size: 20px;
  &-v {
    color: rgb(67, 119, 205);
  }
  &-i {
    color: rgb(80, 151, 186);
  }
  &-g {
    color: rgb(99, 172, 154);
  }
  &-e {
    color: rgb(124, 184, 121);
  }
  &-n {
    color: rgb(185, 188, 74);
  }
  &-w {
    color: rgb(212, 177, 63);
  }
  &-a {
    color: rgb(228, 153, 56);
  }
  &-t {
    color: rgb(230, 112, 48);
  }
  &-c {
    color: rgb(226, 86, 43);
  }

  &-h {
    color: rgb(222, 60, 38);
  }
}
