.icon-group__text {
  font-size: 20px;
  &-n {
    color: rgb(67, 119, 205);
  }
  &-e {
    color: rgb(80, 151, 186);
  }
  &-x {
    color: rgb(99, 172, 154);
  }
  &-t {
    color: rgb(124, 184, 121);
  }
  &-p {
    color: rgb(185, 188, 74);
  }
  &-h {
    color: rgb(212, 177, 63);
  }
  &-y {
    color: rgb(228, 153, 56);
  }
  &-l {
    color: rgb(230, 112, 48);
  }
  &-o {
    color: rgb(222, 60, 38);
  }
}
