.icon-group__text {
  font-size: 20px;
  &-n {
    color: rgb(67, 119, 205);
  }
  &-e-1 {
    color: rgb(80, 151, 186);
  }
  &-x {
    color: rgb(99, 172, 154);
  }
  &-t {
    color: rgb(124, 184, 121);
  }
  &-c {
    color: rgb(185, 188, 74);
  }
  &-l {
    color: rgb(212, 177, 63);
  }
  &-a {
    color: rgb(228, 153, 56);
  }
  &-d {
    color: rgb(230, 112, 48);
  }
  &-e-2 {
    color: rgb(222, 60, 38);
  }
}
