.run_button {
  width: 140px;
  height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  border: none;
  background: #60b661;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  transition: all 0.4s;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background: #509952;
  }
}
